<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1 id="data_from_backend"> This is my project in sia</h1>

    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

<script>
    const socket = io("http://127.0.0.1:5000");
    socket.on("room_one", data => {

        let element = document.getElementById("data_from_backend")
        element.innerText = data.distance;


    });
        
    </script>
    
</body>
</html>